html, body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.debugger {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dials {
  background-color: rgba(30, 30, 30, 0.6);
  position: absolute;
  top: 0;
  left: 10px;
}
.instruments {
  position: absolute;
  z-index: 100;
}
.detectorDisplay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}