html, body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.slidewhow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  object-fit: contain;
  object-position: center;

  transition: clip-path 0.8s, transform 1s;
  --ellipse-size: 0px;
  clip-path: ellipse(var(--ellipse-size) var(--ellipse-size) at 50vw 50vh);
  transform: scale(1, 1);

  background-color: black;
}

.debugger {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dials {
  background-color: rgba(30, 30, 30, 0.6);
  position: absolute;
  top: 0;
  left: 10px;
}
.instruments .view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}